:root {
  --mainColor: #7868e6;
  --mainDarkColor: #6053b8;
  --mainLightColor: #b8b5ff;
  --mainTextColor: rgb(255, 255, 255);
  --blueLight: rgb(178, 185, 241);
  --heading: rgb(97, 125, 152);
  --secondaryheading: #b8b5ff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 100%;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link:hover {
  text-decoration: none;
}

#navbar_top {
  background-color: var(--mainColor) !important;
  opacity: 0.8;
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--mainTextColor) !important;
  letter-spacing: 2px;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  font-family: "Concert One", cursive;
  font-size: larger;
}

.navbar-dark .navbar-brand {
  color: var(--mainTextColor) !important;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  height: 60px;
}

#logo {
  background-position: center;
  height: 100%;
  width: auto;
  background-color: transparent !important;
  /* transform: scale(3); */
  /* padding-left: 10px; */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white !important;
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  border-bottom: 2px solid white;
}

.navbar-dark .navbar-brand:hover {
  color: var(--blueLight) !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .navbar-dark .navbar-brand {
    font-size: 1.5rem;
    height: 52px;
  }

  #logo {
    /* transform: scale(2.5); */
    padding-left: 10px;
  }
}

/* #################### */
/* SHARING CSS */
/* #################### */
.transition {
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.03s;
}

.back-button {
  color: white;
  font-weight: 500;
}

.back-btn-div .fa-chevron-left {
  padding-left: 5px !important;
}

.back-btn-div:hover .fa-chevron-left {
  padding-left: 0px !important;
  padding-right: 5px !important;
}

.back-button:hover {
  color: white;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
  text-decoration: none;
}
.back-text {
  font-size: 1.1rem !important;
  color: var(--mainTextColor);
  padding-left: 3px;
}

.vertical-center {
  z-index: 99 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-main-div {
  background-color: #eeeffc;
  min-height: 100vh;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .back-button {
    font-size: 1.1rem;
    line-height: 1rem;
  }
  .back-text {
    font-size: 1rem !important;
  }
}

/* #################### */
/* Home Page */
/* #################### */

.header {
  height: 90vh;
  width: 100%;
  background-color: #1f203a;
  display: grid;
  place-items: center;
  max-height: 90vh;
  position: relative;
  padding-bottom: 5vh;
}
.header-sections {
  padding-top: 5%;
  min-height: 50vh;
  max-height: 90vh;
  width: auto;
  overflow-y: hidden;
}
.header-main-div {
  height: 250px;
  background: var(--mainColor);
}
.image-overlay {
  background: var(--mainColor);
  opacity: 0.65;
  overflow: hidden;
  z-index: 9900;
}
.header-text {
  font-size: 3.5rem;
  color: var(--mainTextColor);
  font-weight: 500;
  font-family: monospace;
  letter-spacing: 3px !important;
  text-transform: uppercase;
  z-index: 99 !important;
  font-family: "Concert One", cursive;
}
.header-small-text {
  font-size: large;
  color: var(--blueLight);
  text-align: justify;
  text-justify: inter-word;
  font-family: "Concert One", cursive;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big-letter {
  font-size: 4.3rem;
}

.letter-anim:hover {
  text-shadow: 0px -40px 0px var(--blueLight);
  color: transparent;
}

.social-icons-div {
  position: absolute;
  bottom: 20px;
  margin-right: 40px;
  width: 100%;
  text-align: right;
  z-index: 199 !important;
}

.social-icons {
  margin: 0px 5px;

  color: var(--mainTextColor);
  background-color: var(--mainDarkColor);
  border-radius: 5px;
  padding: 7.5px !important;
}

.social-icons:hover {
  color: var(--mainColor);
  background-color: var(--mainTextColor);
  box-shadow: 0px 0px 10px rgb(178, 185, 241);
}

.project-size {
  transition-property: all;
  transition-duration: 0.4s;
  transition-delay: 0.05s;
  transform: scale(0.95);
  padding: 15px;
  border-radius: 20%;
}
.project-size:hover {
  transform: scale(1.051);
}

.project-block {
  background-color: transparent;
  transition-property: all;
  transition-duration: 0.3s;
  transition-delay: 0.05s;
  border-radius: 3%;
  overflow: hidden;
  color: var(--mainDarkColor);
  max-height: 240px;
  min-height: 240px;
  width: 100%;
  background: linear-gradient(
      150.5deg,
      rgba(233, 229, 255, 0.9),
      50%,
      rgba(120, 104, 230, 1) 50%
    ),
    url(https://static3.bigstockphoto.com/1/1/2/large1500/211242202.jpg);

  background-position: center;
  background-size: cover;
}

.project-block:hover {
  box-shadow: 0px 5px 15px rgba(73, 51, 35, 0.5);
  margin: 0;
  color: #ffffff;
  background: linear-gradient(
      150.5deg,
      rgba(120, 104, 230, 0.99) 50%,
      rgba(222, 219, 243, 0.95) 50%
    ),
    url(https://static3.bigstockphoto.com/1/1/2/large1500/211242202.jpg);

  background-position: center;
  background-size: cover;
}

.pro-image {
  max-height: 210px;
  min-height: 210px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  border: none !important;
}

.lbl {
  float: left;
  margin-left: 5px;
  transform: rotate(-50deg);
  -ms-transform: rotate(-50deg); /* IE 9 */
  -webkit-transform: rotate(-30deg); /* Opera, Chrome, and Safari */
}
.inp {
  float: left;
  margin-top: 150px;
}

.home-heading-text {
  padding-top: 0px !important;
  color: var(--heading);
  font-size: 2.5rem;
  padding-top: 100px;
  font-family: "Concert One", cursive;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.heading-text {
  font-size: 2.5rem;
  padding-top: 100px;
  color: var(--mainTextColor);
  font-family: "Concert One", cursive;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.heading-hr {
  padding: 7px;
  width: 75%;
  color: #fff !important;
  border: none;
  margin: 0 auto;
  background-image: linear-gradient(
    -130deg,
    var(--mainTextColor) 10%,
    var(--mainColor) 10% 50%,
    var(--mainLightColor) 50% 90%,
    var(--mainTextColor) 90%
  );
}

.heading-hr:hover {
  background-image: linear-gradient(
    -130deg,
    var(--mainTextColor) 10%,
    var(--mainLightColor) 10% 50%,
    var(--mainColor) 50% 90%,
    var(--mainTextColor) 90%
  );
}

.header-hr {
  padding: 5px;
  width: 55%;
  color: #fff !important;
  border: none;
  margin: 0 auto;
  background-image: linear-gradient(
    -130deg,
    var(--mainColor) 10%,
    var(--mainDarkColor) 10% 50%,
    var(--mainLightColor) 50% 90%,
    var(--mainColor) 90%
  );
}

.basic_project_container {
  position: relative;

  background-image: linear-gradient(
    -130deg,
    #ffffff 50%,
    rgba(120, 104, 230, 0.95) 50%
  );
}

.basic_project_inner_container {
  background-color: #fff;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .basic_project_container {
    background-image: linear-gradient(
      -100deg,
      #ffffff 50%,
      var(--mainColor) 50%
    );
  }

  .header {
    height: 95vh;
    border-top-right-radius: 0px;
    padding-bottom: 1%;
    max-height: 95vh;
  }

  .header-text {
    font-size: 2.5rem;
    letter-spacing: 4px !important;
  }
  .header-main-div {
    height: 200px;
    padding-top: 40px !important;
  }

  .header-sections {
    min-height: 40vh;
    max-height: 40vh;
  }
  .header-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .letter-anim:hover {
    text-shadow: 0px -15px 0px var(--blueLight);
    color: transparent;
  }

  .big-letter {
    font-size: 2.5rem;
  }

  .social-icons-div {
    margin: 0 auto;
    text-align: center;
  }

  .pro-image {
    max-height: 210px;
    min-height: 210px;
  }

  .heading-text {
    font-size: 1.7rem;
    padding-top: 50px;
    font-weight: 550;
    letter-spacing: 1px;
  }

  .heading-hr {
    width: 60%;
  }

  .project-size {
    padding: 15px 5px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0.05s;
    transform: scale(1);
    padding: 15px 5px;
  }
  .project-size:hover {
    transform: scale(1);
    box-shadow: none;
  }

  .image-overlay {
    background: transparent;
  }
}
/* #################### */
/* FOOTER */
/* #################### */

.footer {
  max-height: 200px;
  width: 100%;
  background-color: var(--mainColor);
  display: grid;
  place-items: center;
  max-height: 400px;
  margin-top: 100px;
  min-height: 150px;
  color: white;
  position: relative;
}

.wheelchair {
  position: absolute;
  top: -53px;
  right: 20px;
  color: var(--mainColor);
  margin: 0 auto;
  font-size: 4rem !important;
}

.wheelchair:hover {
  text-shadow: 0px 1px 2px var(--mainColor);
}

.footer-text {
  font-size: 1.035rem;
  color: var(--mainTextColor);
  font-weight: 700;
  font-family: monospace;
  letter-spacing: 0.31px;
  word-spacing: -3px;
}

.footer-logo-div {
  color: var(--mainTextColor) !important;
  letter-spacing: 1px;
  border-bottom: 2px solid transparent;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  height: 60px;
  overflow: hidden;
}

#footer-logo {
  background-position: center;
  height: 50px;
  width: auto;
  background-color: transparent !important;
  /* transform: scale(3); */
}

.footer-foot-div {
  background-color: var(--mainDarkColor);
}

.mail-to a {
  color: white;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .footer-text {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .wheelchair {
    top: -38px;
    right: 15px;
    font-size: 3rem !important;
  }
}

/* #################### */
/* BIRTHDAY REMIDER CSS */
/* #################### */

.birthday-section {
  margin: 50px auto;
  padding: 10px;
  background-color: white;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(32, 30, 121, 0.2);
  color: rgb(97, 125, 152);
}

.user-sec {
  margin: 25px 5px;
  width: 100%;
}
.user-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.user-img-div {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

/* #################### */
/* GITHUB USERS CSS */
/* #################### */

.item {
  background-color: white;
  padding: 5px 10px;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  color: #677467;
  text-align: left;
  min-height: 72px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  display: grid;
  vertical-align: center;
}

.item a {
  color: #a8aea8;
  font-size: 0.85rem;
}
.item a:hover {
  color: #677467;
  text-decoration: underline;
}

/* #################### */
/* Subscription USERS CSS */
/* #################### */

.text-subscribe {
  color: #6a8091;
  font-size: xx-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 550;
  letter-spacing: 1px;
}

.text-subscribe-small {
  color: #ddeefa;
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: 0.5px;
}

.want-to-subscribe {
  color: white;
  background-color: #476f8d;
  padding: 8px 26px;
  outline: transparent !important;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.want-to-subscribe:hover {
  color: rgba(104, 151, 187, 1);
  background-color: #3b586e;
  padding: 8px 26px;
  outline: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  text-decoration: none;
}

/* FORM */

.subscribe-form {
  background-color: #5786aa;
  padding: 10px;
  border-radius: 35px;
  text-align: center;
}
.subscribe-form input {
  color: rgba(104, 151, 187, 1);
  outline: transparent !important;
  border: transparent;
  padding: 6px 12px;
  border-radius: 50px;
  width: 100%;
  text-align: center;
  margin: 5px;
}

.modal-text-big {
  color: #ebf4fc;
  font-size: 2.3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 550;
  letter-spacing: 1px;
  line-height: xx-large;
}

.close {
  color: white;
  font-size: xx-large;
}

.subscription-user-block {
  background-color: white;
  padding: 5px 10px;

  border-radius: 5px;
  color: #677467;
  text-align: left;
  min-height: 72px;
}

.sub-user-text {
  color: #3b586e;
  font-size: 1.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: xx-large;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .text-subscribe {
    font-size: 1.7rem;

    font-weight: 550;
    letter-spacing: 1px;
  }

  .info-text {
    font-size: 2.3rem !important;
  }
}
/* #################### */
/* HOME Page HEADER CSS */
/* #################### */

.area {
  background: var(--mainColor);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* #################### */
/* Number Cruncher  CSS */
/* #################### */

.cruncher-container {
  min-height: 50vh;
  position: relative;
}
.vertical-center-cruncher {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.plus {
  text-align: end;
}

.minus {
  text-align: left !important;
}

.counter-text {
  font-size: 10rem;
  color: var(--mainColor);
  font-weight: 700;
  text-shadow: 0px 1px 2px var(--mainColor);
}

.cruncher-icon {
  color: var(--mainColor);
  text-shadow: 0px 5px 0px transparent;
  padding: 0px 5px;
  border-radius: 15px;
  transition-property: all;
  transition-duration: 0.07s;
  transition-delay: 0s;
}

.cruncher-icon:hover {
  color: var(--mainColor);
  background-color: var(--mainTextColor);
}
.cruncher-error-text {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .minus,
  .plus {
    text-align: center !important;
  }
  .cruncher-icon:hover {
    color: var(--mainColor);
    background-color: transparent;
  }
  .cruncher-icon:active {
    color: var(--mainColor);
    background-color: var(--mainTextColor);
  }

  .counter-text {
    font-size: 8rem;
  }
}

/* #################### */
/* Movies World  CSS */
/* #################### */
.imdb-movie-image {
  width: 100%;
  padding: 1.5px;
}

.imdb-movie-image:hover {
  transform: scale(0.95);
}
.image-div {
  background-color: transparent;
}

.image-div:hover {
  background-color: transparent;
}

/* #################### */
/* Latest-Project Home  CSS */
/* #################### */

.latest-proj-image-div {
  background: linear-gradient(
    110.5deg,
    var(--mainTextColor) 50%,
    var(--mainColor) 50%
  );
}
#latest-project-section img {
  width: 90%;
  margin: 7% 3%;
  transition-property: all;
  transition-duration: 0.4s;
  transition-delay: 0.01s;
}

#latest-project-section img:hover {
  transform: scale(1.095);
}

.latest-proj-text {
  color: var(--heading);
  font-size: 1.1rem;
  text-align: justify;
  font-weight: 250;
}

/* #################### */
/* Curved Home  CSS */
/* #################### */

.curved {
  position: relative;
  padding-bottom: 0 !important;
  border-bottom: 12px solid white;

  background-image: linear-gradient(
    -0deg,
    transparent 1%,
    var(--mainColor) 1% 50%,
    var(--mainColor) 50% 99%,
    transparent 99%
  );
}
.curved-heading {
  position: absolute;
  top: -70px;
  padding-top: 0px !important;
  color: var(--heading);
  font-size: 2.5rem;
  padding-top: 100px;
  font-family: "Concert One", cursive;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.curved-heading-hr {
  padding: 7px;
  width: 65%;
  color: #fff !important;
  border: none;
  margin: 0 auto;
  background-image: linear-gradient(
    -130deg,
    transparent 10%,
    var(--mainDarkColor) 10% 50%,
    var(--mainLightColor) 50% 90%,
    transparent 90%
  );
}

.curved-heading-hr:hover {
  background-image: linear-gradient(
    -130deg,
    transparent 10%,
    var(--mainLightColor) 10% 50%,
    var(--mainDarkColor) 50% 90%,
    transparent 90%
  );
}

.curved svg {
  display: block;
  transform: scaleX(-1);
}

@media only screen and (max-width: 768px) {
  .curved-heading {
    position: absolute;
    top: -120px;
  }

  .curved-heading-hr {
    width: 65%;
  }
}

/* #################### */
/* Carousel Home  CSS */
/* #################### */

.card-main {
  border-radius: 10px;
  background-color: transparent;
}

.card-0 {
  color: #fff;
  background-color: var(--mainDarkColor);
  background-color: transparent;
  position: relative;
  border-radius: 10px;
}

.carousel-indicators li {
  cursor: pointer;
  border-radius: 50% !important;
  width: 10px;
  height: 10px;
}

.profile {
  color: #fff;
  background-color: var(--mainDarkColor);
  position: absolute;
  border: transparent;
  left: -70px;
  top: 17%;
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 180px;
}

.profile-pic {
  max-height: 120px;
  width: auto;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  font-weight: 300;
}

.close-quotes {
  margin-bottom: 100px;
}

.tech-img-background {
  height: 200px;
}
.tech-img-background img {
  max-height: 100px;
  width: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.03s;
}

.tech-img-background img:hover {
  transform: scale(1.21);
}

.tech-img-background {
  padding: 2%;
}

.tech-img-background h6 {
  color: white;
  font-size: 1.5rem;
}

/* #################### */
/* Error Page  CSS */
/* #################### */
.back-hto-home {
  color: rgb(177, 215, 245);
  background-color: #476f8d;
  padding: 8px 26px;
  outline: transparent !important;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.back-hto-home:hover {
  color: rgb(235, 235, 235);
  background-color: #3b586e;
  text-decoration: none;
}
